<script>

		// initialize and setup facebook js sdk

		window.fbAsyncInit = function()
		   {

		    FB.init({

		      appId      : '295309830904887',

		      xfbml      : true,

		      version    : 'v2.8'

		    });



		 FB.getLoginStatus(function(response) 
		 {

		    	if (response.status === 'connected') {

		    		document.getElementById('status').innerHTML = 'Connected/Accessed to Facebook';

		    		document.getElementById('login').style.visibility = 'hidden';
					

		    	} else if (response.status === 'not_authorized') {

		    		document.getElementById('status').innerHTML = 'Please authorize us by clicking on Login with Facebook Button';
					document.getElementById('lpt').style.visibility = 'hidden';
					document.getElementById('lp').style.visibility = 'hidden';
				

		    	} else {

		    		document.getElementById('status').innerHTML = 'You are not logged in,Please Login through your facebook ID and Password';
					document.getElementById('lpt').style.visibility = 'hidden';
					document.getElementById('lp').style.visibility = 'hidden';
				

		    	}

		    });

		};



		(function(d, s, id)
		{

		    var js, fjs = d.getElementsByTagName(s)[0];

		    if (d.getElementById(id)) {return;}

		    js = d.createElement(s); js.id = id;

		    js.src = "//connect.facebook.net/en_US/sdk.js";

		    fjs.parentNode.insertBefore(js, fjs);

		}(document, 'script', 'facebook-jssdk'));



		function login() 
		{

			FB.login(function(response) {

				if (response.status === 'connected') {

		    		document.getElementById('status').innerHTML = 'Connected/Accessed to Facebook';

		    		document.getElementById('login').style.visibility = 'hidden';

		    	} else if (response.status === 'not_authorized') {

		    		document.getElementById('status').innerHTML = 'Please authorize us by clicking on Login with Facebook Button';
					document.getElementById('lpt').style.visibility = 'hidden';
					document.getElementById('lp').style.visibility = 'hidden';
					


		    	} else {

		    		document.getElementById('status').innerHTML = 'You are not logged in,Please Click on Facebook login button and proceed on';
					document.getElementById('lpt').style.visibility = 'hidden';
					document.getElementById('lp').style.visibility = 'hidden';
				


		    	}

			}, {scope: 'publish_actions,email'});

		}



		// getting basic user info

		function getInfo() 
		{

			FB.api('/me', 'GET', {fields: 'name,gender,email'}, function(response)
			 {
				 
					document.getElementById('name').innerHTML = response.name;
				document.getElementById('gender').innerHTML = response.gender;
				document.getElementById('email').innerHTML = response.email;

			 });

		}


		// posting on user timeline

		function post()
		{
			var nameValue = document.getElementById("lpt1").value;
			FB.api('/me/feed', 'post', {message: nameValue}, function(response)
			{
		    document.getElementById('status').innerHTML = "successfully posted on facebook";
			});

		}

	</script>




<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Update Status</title>
		<meta name="description" content="" />
		<meta name="author" content="" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		 <link type="text/css" href="mobcss.css" rel="stylesheet" />
	</head>
	<body>
		<div class="wrapper">
			<header id="header" ><p align="center" class="ltp">Update Status</p>
								<p align="center"> ( Update and check status )</p>
								<div id="status" class="ltp" align="center"></div>
								<div align="center" class="ltp">
								<table width="100%" align="center" class="ltp" id="info"><tr><td width="40%" align="left" id="name"></td><td width="20%" align="center" id="gender"></td><td width="40%" align="right" id="email"></td></tr></table></div>
			</header>
	
			<nav class="navigator" id="navigator">
				<ul>
                
					
					<li id="lpt"><a>
                    <table><tr><td><textarea name="lpt"  cols="65" rows="5"  id="lpt1" placeholder="Write your status here for post it to facebook"></textarea></td></tr></table>
                    </a>
					</li>
                    
					<li id="lp"><a><table width="100%"><tr><td width="50%" align="center"><button onclick="getInfo()" >Your data on facebook</button></td><td width="50%" align="center"><button onclick="post()" >Post on Facebook</button></td></tr></table></a></li>
                    <div id="login" align="center"><button onclick="login()" >Login through Facebook</button></div>
                     
				</ul>
			</nav>
			<footer id="footer">
			</footer>
		</div>
	</body>
</html>